<h2 mat-dialog-title>{{ locale.t('dialog.translate') }}</h2>

<mat-dialog-content>

  <label id="radio-group-label">{{ locale.t('dialog.targetLanguage') }}:</label>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="lang-radio-group"
    [(ngModel)]="selectedLanguageCode"
  >
    @for (langObj of translateLanguages; track langObj.languageCode) {
      <mat-radio-button
        class="lang-radio-button"
        [value]="langObj.languageCode"
      >
        {{ locale.languageLabel(langObj.languageCode) }}
      </mat-radio-button>
    }
  </mat-radio-group>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="''">{{ locale.t('common.cancel') }}</button>
  <button
    matButton="filled"
    [mat-dialog-close]="selectedLanguageCode"
    cdkFocusInitial
  >
    {{ locale.t('results.translate') }}
  </button>
</mat-dialog-actions>
