<div class="image-select-wrapper">
  <file-input
        [label]="locale.locale() === 'lv' ? 'Izvēlies attēlu datnes (JPG, PNG)' : 'Choose image files (JPG, PNG)'"
        acceptedFileTypes="image/png, image/jpeg"
        [multiple]="true"
        (filesSelected)="addImageFiles($event)"
  ></file-input>
  <div class="progress-wrapper">
    <mat-label>{{ locale.locale() === 'lv' ? 'Progress' : 'Progress' }}:</mat-label>
    <mat-progress-bar
          mode="determinate"
          [value]="progressPercentage"
          [class.finished]="totalFileCount > 0 && processedCounter == totalFileCount"
    ></mat-progress-bar>
    <span>{{ processedCounter }} / {{ totalFileCount }}</span>
  </div>
  <p class="image-sum">
    {{ locale.locale() === 'lv' ? 'Pavisam pievienoti' : 'Images added' }}: {{ (imageListService.imageList$ | async)?.length ?? 0 }}.
  </p>
</div>
